language: python
python:
  - "2.6"
  - "2.7"
#  - "pypy"
# command to install dependencies
install:
  - pip install -r requirements-test.txt --use-mirrors
  - pip install -r requirements.txt --use-mirrors
# command to run tests
script: nosetests
