{% extends "base.html" %}
{%block main%}
<h1>{{current_count}} of {{total_workers}} Workers Working</h1>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Where</th>
    <th>Queue</th>
    <th>Processing</th>
  </tr>
  {% if not workers %}
  <tr>
    <td colspan="4">Not a one.</td>
  </tr>
  {% endif %}

  {% for worker in workers %}
    
    <tr>
      <td><img src="" alt="" title=""></td>
      <td><a href="#">{{worker._host}}:{{worker._pid}}</a></td>
      <td>
        <a class="queue" href="#">{{worker.job.queue}}</a>
      </td>
      <td>
        {% if worker.job.queue %}
          <code>{{ worker.job.payload.klass }}</code>
          <small><a class="queue time" href="#">{{worker.job.run_at}}</a></small>
        {% else %}
          Waiting for more
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{%endblock%}