{% extends "base.html" %}
{% block main%}
<h1>{{ workers|length }} Workers</h1>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Where</th>
    <th>Queues</th>
    <th>Processing</th>
  </tr>
  {% for worker in workers %}
  <tr>
    <td><img src="{{worker.state}}.png" alt="{{worker.state}}" title="{{worker.state}}"></td>
    {% set host,pid,queues = str(worker).split(':') %}
    
    <td><a href="/workers/{{worker}}">{{host}}:{{pid}}</a></td>
    <td></td>

    <td>
      {% set data = worker.processing %}
      
      {% if data.hasattr('queue') %}
        <code>{{data['payload']['class']}}</code>
        <small><a class="queue time" href="/working/{{worker}}" %>">{{data['run_at']}}</a></small>
      {% else %}
        Waiting for more
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock%}